# Firebase Service Account Key dosyasının yolu
GOOGLE_APPLICATION_CREDENTIALS=./serviceAccountKey.json

# Firebase Storage Bucket
FIREBASE_STORAGE_BUCKET=your-project-id.appspot.com

# Sunucu Portu
PORT=5001

# Frontend URL (CORS)
FRONTEND_URL=http://localhost:5173
